body {
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: sans-serif;
    margin: 0%;
}
#all {
    flex-wrap: wrap;
    display: flex;
}
#all1{
    margin-bottom: 40px;
    margin: 20px;
}

/*inputs*/
#nomeput{
    height: 30px;
    width: 200px;
}
#dataput{
    height: 30px;
    width: 200px;
}
#comenput{
    height: 200px;
    width: 200%;
    text-align: left;
}
#tituput{
    height: 30px;
    width: 200px;
}
.imput{
    border-radius: 30px;
    font-family: sans-serif;
    padding: 15px;
    background-color: #202020;
    box-shadow: inset  5px 5px 5px #141414 ;
    color: #818181;
}
#descriput{
    width: 160%;
    height: 100px;
}
#principa {
    background-color: #202020;
    border-radius: 36px;
    margin: 20px;
    padding: 30px;
    padding-bottom: 10px;
}

#principa2 {
    background-color: #202020;
    border-radius: 36px;
    padding: 30px;
    padding-right: 300px;
}
#comentario{
    margin-bottom: 50px;
}

/*botões*/
.btn {
    transition: all 0.1s ease-in-out;
    font-family: "Dosis", sans-serif;
}

.btn {
    width: 150px;
    height: 60px;
    border-radius: 50px;
    background-image: linear-gradient(135deg, #76b900 0%, #06832f 100%);
    box-shadow: 0 20px 30px -6px rgba(97, 238, 104, 0.5);
    outline: none;
    border: none;
    font-size: 24px;
    color: white;
}

.btn:hover {
    transform: translateY(3px);
    box-shadow: none;
}

.btn:active {
    opacity: 0.5;
}
/*botao dnv*/
.btn2 {
    transition: all 0.1s ease-in-out;
    font-family: "Dosis", sans-serif;
}

.btn2 {
    width: 100px;
    height: 30px;
    border-radius: 35px;
    background-image: linear-gradient(135deg, #76b900 0%, #06832f 100%);
    outline: none;
    border: none;
    font-size: 14px;
    color: white;

}
.inpututu2{
    border-radius: 30px;
    font-family: sans-serif;
    padding: 15px;
    background-color: #202020;
    box-shadow: inset  5px 5px 5px #141414 ;
    color: #818181; 
    display: flex;
    flex-direction: column;
    margin: 15px;

}

.btn2:hover {
    transform: translateY(3px);
    box-shadow: none;
}

.btn2:active {
    opacity: 0.5;
}
/*comentario*/
#comentario{
    border-radius: 30px;
    font-family: sans-serif;
    padding: 15px;
    background-color: #202020;
    box-shadow: inset  5px 5px 5px #141414 ;
    color: #818181;
}
/*responsividade*/
@media(max-width: 1000px){
    #nomeput{
        height: 30px;
        width: 90%;
    }
    #dataput{
        height: 30px;
        width: 90%;
    }
    #comenput{
        height: 300px;
        width: 120%;
    }
    #principa {
        background-color: #202020;
        border-radius: 36px;
        margin: 20px;
        padding: 30px;
        padding-bottom: 10px;
        padding-right: 100px;
    }
    #principa2 {
        background-color: #202020;
        border-radius: 36px;
        padding: 30px;
        margin: 20px;
        padding-right: 50px;
    }
    #descriput{
        width: 100%;
        height: 100px;
    }
}