/*Estilização Da pagina filmes*/
body {
    background-color: black;
    margin: 0;
   
}
/*Estilização Do texto */
#textao {
    color: #ffda35;
    text-align: center;
    margin-top: -205px;
}
/*Estilização Do paragrafo*/
#textin {
    text-align: center;
    color: #f9f8bf;
}
/*Estilização do tamanho das imagens */
#ij {
    height: 150px;
    width: 250px;
    border-radius: 5px;
}
/*Estilização Da sec1 que tem o filme Django Livre e clube da luta*/
#sec1 {
    background-color: #161616;
    width: 250px;
    height: 368px;
    margin-left: 243px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 12px;
}
/*Estilização Do quadro do django e Clube da luta*/
#link_django {
    text-decoration: none;
    color: #ffffff;
}
/*Estilização  div1 onde tem a sec1 onde tem os quadros do Django e Club da Luta */
#div1 {
    display: flex;
}
h2 {
    text-align: center;
    color: #ffffff;
}
#dj {
    color: red;
}
#ida {
    color: #ffffff;
    background-color: rgb(16, 16, 16);
    border-radius: 12px;
    width: 44px;
    margin-left: 106px;
    margin-right: 106px;
}
#sec2 {
    background-color: #161616;
    width: 250px;
    height: 368px;
    margin-left: 100px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 12px;
}
#div2 {
    display: flex;
    margin-top: 30px;
}
h1 {
    font-size: 50px;
}
#ida14 {
    color: #ffffff;
    background-color: rgb(211, 99, 18);
    border-radius: 12px;
    width: 44px;
    margin-left: 106px;
    margin-right: 106px;
}
#ida16 {
    color: #ffffff;
    background-color: rgb(201, 1, 1);
    border-radius: 12px;
    width: 44px;
    margin-left: 106px;
    margin-right: 106px;
}
h3 {
    color: #feffc4;
}
#star {
    height: 20px;
    width: 20px;

}
#r {
    color: rgb(114, 114, 244);
}
#m {
    color: rgb(233, 143, 64);
}
#c {
    color: rgb(184, 7, 184);
}
#blah {
    color: rgb(235, 135, 5);
    margin-right: 7px;
    margin-bottom: 0%;
}
#runn {
    color: #848fc8;
    margin-bottom: 0%;
}
main {
    display: flex;
    margin-left: 22px;
}
@media (max-width: 1000px) {
    #div1 {
        display: contents; 
    }
    #div2 {
        display: contents;
    }
    #curb {
        color: #ffd85a;
        font-size: 20px;
    }
    #sec1{
        margin-left: 65px;
    }
    #sec2{
        margin-left: 65px;
    }
    #dj {
        color: rgb(184, 7, 184);
        font-size: 20px;
    }
}
